.genres-container
{
    .genres
    {
        padding: 1px;
        border-radius: 3px;
        font-size: 14px;
        background-color: var(--pink);
        cursor: auto;
        color: white;
        font-weight: 400;
        width: fit-content;
        margin-top: 2px;
    }
}