@import "../../../mixins.scss";

.detail-banner
{
    width: 100%;
    background-color: var(--black);
    padding-top: 100px;
    position: relative;
    .detail-banner-backdrop-img
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        .lazy-load-image-background
        {
            width: 100%;
            height: 100%;
            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            };
        }
    }
    .overlay
    {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: var(--overlay);
    } 
    .content
    {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 50px;
        @include md {
            gap: 50px;
            flex-direction: row;
        }
        .left-section
        {
            flex-basis: 40%;
            .lazy-load-image-background
            {
                width: 100%;
                img
                {
                    width: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: center;
                };
            }
        }
        .right-section
        {
            flex: 50%;
            .row
            {
                padding-bottom: 8px;
                color: white;
                margin-bottom: 15px;
                &.title
                {
                    font-weight: 400;
                    font-size: 35px;
                }
                &.tagline
                {
                    opacity: 0.5;
                    font-size: 20px;
                    font-style: italic;
                }
                .genres-container
                {
                    display: flex;
                    .genres
                    {
                        margin-right: 4px;
                    }
                }
                &.overview
                {
                    h2
                    {
                        font-weight: 300;
                        margin-bottom: 10px;
                    }
                    span
                    {
                        font-weight: 200;
                        line-height: 20px;
                    }
                }
                &.infos
                {
                    .info
                    {
                        margin-right: 20px;
                        .data
                        {
                            opacity: 0.5;
                        }
                    }
                }
                &.rating-trailer
                {
                    display: flex;
                    .circle-rating
                    {
                        width: 80px;
                    }
                    >div
                    {
                        margin-right: 30px;
                    }
                }
            }
        }
    }  
}

.border-bottom
{
    border-bottom: 1px solid var(--black-lighter);
}

.details-banner-skeleton
{
    // height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    .left
    {
        height: 80vh;
        width: 100%;
        @include md
        {
            width: 35%;
        }
    }
    .right
    {
        width: 100%;
        @include md
        {
            width: 50%;
        }
        margin-top: 20px;
        .rows
        {
            width: 100%;
            margin-bottom: 30px;
            border-radius: 15px;
            height: 30px;
            @include md
            {
                width: 100%;
                position: relative;
                margin-bottom: 30px;
                border-radius: 15px;
                margin-left: 50px;
            }
        }
    }
}