@import "../../../mixins.scss";

.similar-section
{
    .wrapper
    {
        .carousel-heading
        {
            font-size: 24px;
            color: white;
            font-weight: normal;
        }
    }
}